# Telegram Bot Token (BotFather dan oling)
BOT_TOKEN=8247744420:AAEShLNobIWqqw4P7DYSQL-miqd9ZsO2voY

# MongoDB URI
# Local: mongodb://localhost:27017/financebot
# Atlas: mongodb+srv://username:password@cluster.mongodb.net/financebot
MONGODB_URI=mongodb+srv://mingodbuchun_db_user:hJ5FSZaFLMz6uEuc@cluster0.5dqhrf9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
